$whiteColor: rgb(233, 233, 233);
$backgroundColor: rgb(56, 56, 56);

$pokemonFont: "Pokemon Solid", sans-serif;
$bodyFont: "Times New Roman", Times, serif;
$titleFont: Arial, Helvetica, sans-serif;

$normal: #a8a878;
$fire: #ef8031;
$water: #6890f0;
$grass: #78c850;
$electric: #f8d030;
$ice: #88d1f3;
$fighting: #ef6138;
$poison: #9b69d9;
$ground: #a9702b;
$flying: #94b2c7;
$psychic: #f81c91;
$bug: #3b9950;
$rock: #8b3e21;
$ghost: #906790;
$dark: #5a5979;
$dragon: #7f6adf;
$steel: #908d9f;
$fairy: #f1adf1;
