$blackColor: rgb(24, 24, 24);
$whiteColor: rgb(233, 233, 233);
$backgroundColor: rgb(56, 56, 56);

$pokemonFont: "Pokemon Solid", sans-serif;
$bodyFont: "Times New Roman", Times, serif;
$titleFont: Arial, Helvetica, sans-serif;
