@import "../../Variables/Variables.scss";
.createTeamFont {
  font-family: $pokemonFont;
  font-size: 30px;
  color: $whiteColor;
}
.createTeamHeader {
  font-size: 50px;
  letter-spacing: 0.07em;
  text-align: center;
  margin-top: 25px;
}

.createTeamButton:hover {
  cursor: pointer;
}
.createTeamMiddleCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media (min-width: 0px) and (max-width: 750px) {
  .createTeamHeader {
    font-size: 33px;
    margin-top: 50px;
  }
}
@media (min-width: 751px) and (max-width: 1150px) {
}
