@import "../Variables/Variables.scss";
.tableForData {
  color: $whiteColor;
  font-family: $pokemonFont;
}
.tableForData caption span,
.tableForData caption {
  font-size: 30px;
  font-family: $pokemonFont;
}
.tableForData th {
  display: block;
  font-family: $titleFont;
  font-weight: normal;
}
.tableForData td {
  display: block;
  font-family: $titleFont;
}
.tableForData tr {
  text-align: left;
}
.tableForData tbody {
  display: flex;
  justify-content: center;

  gap: 20px;
  font-size: 20px;
}

// .Information {
//   display: flex;
//   flex-direction: column;
// }
@media (min-width: 0px) and (max-width: 750px) {
  .Information {
    display: flex;
    flex-direction: row;
  }
}
