@import "./Variables/Variables.scss";
* {
  padding: 0;
  margin: 0;
  font-family: $bodyFont;
}

body {
  background-color: $backgroundColor;
}
#root {
  display: flex;
  justify-content: center;
  width: 100%;
}

.App {
  max-width: 1350px;
  width: 1350px;
  display: flex;
}
.test {
  width: auto;
}
.fire {
  color: $fire !important;
}
.water {
  color: $water !important;
}
.grass {
  color: $grass !important;
}
.electric {
  color: $electric !important;
}
.ice {
  color: $ice !important;
}
.fighting {
  color: $fighting !important;
}
.poison {
  color: $poison !important;
}
.ground {
  color: $ground !important;
}
.flying {
  color: $flying !important;
}
.psychic {
  color: $psychic !important;
}
.bug {
  color: $bug !important;
}
.rock {
  color: $rock !important;
}
.ghost {
  color: $ghost !important;
}
.dark {
  color: $dark !important;
}
.dragon {
  color: $dragon !important;
}
.steel {
  color: $steel !important;
}
.fairy {
  color: $fairy !important;
}
.normal {
  color: $normal !important;
}
